CREATE TABLE IF NOT EXISTS public.display_playlists ( id text primary key, name text not null, description text, tatami text, is_active boolean default false, slides jsonb not null default '[]'::jsonb, created_at timestamp with time zone default now(), updated_at timestamp with time zone default now() );
